src/src
!src/src/dwm/patches.h
!src/src/dwm/config.h
!src/src/dmenu/patches.h
!src/src/dmenu/config.h
!src/src/slstatus/config.h

/nnn

nvim/.config/nvim/lazy-lock.json
tmux/.config/tmux/plugins

mpv/.config/mpv/scripts
mpv/.config/mpv/fonts


mpv/.config/mpv/memo-history.log
