!src/src/dwm/patches.h
!src/src/dwm/config.h
!src/src/dmenu/patches.h
!src/src/dmenu/config.h
!src/src/slstatus/config.h
!src/src/dwmblocks/config.h
src/src

/nnn

nvim
tmux/.config/tmux/plugins

mpv/.config/mpv/scripts
mpv/.config/mpv/fonts


mpv/.config/mpv/memo-history.log
wallpaper/photo/wallpaper/second
